:root {
    --header-text-color: #212121;
    --main-text-color: #757575;
    --primary-title-color: #FFFFFF;
    --accent-color: #2196F3;
    --title-color: #000000;
    --footer-link-color: rgba(255, 255, 255, 0.6);
}




.body {
    font-family: "Roboto", sans-serif;
    color: var(--header-text-color);
    background: var(--primary-title-color);
}

ul {
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none;
}

/* Header*/
.logo-link {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-link-one {
    color: var(--header-text-color);
}

.logo-link-two {
    color: var(--primary-title-color);
}



.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--heder-text-color);
}

.header-link:hover,
.header-link:focus {
    color: var(--accent-color);
}

.current {
    color: #2196F3;
}

.header-link-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.header-link-contacts:hover,
.header-link-contacts:focus {
    color: var(--accent-color);
}

/*HERO*/
.hero {
    background: #2F303A;
    text-align: center;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-title-color);
}

.hero-button {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background: #188CE8;
}

.features {
    background: #E5E5E5;
}

.about-list {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-text-color);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}

.work {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-text-color);
}

.team {
    background: #F5F4FA;
}

.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-list {
    width: 270px;
    height: 0.96;
    left: 215px;
    top: 1635px;
    border-radius: 0px
}


/*Footer*/
.footer {
    background-color: #2F303A;
}

.footer-link {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-title-color);
}

.footer-link-contacts {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--footer-link-color);
}

.footer-link-contacts:hover,
.footer-link-contacts:focus {
    color: var(--accent-color);
}


/*portfolio*/
.filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background: #2196F3;
}